script.
  // Get Adwords globals
  var result = "#{result}";
  
div(id="GoogleAds" class="card g-ads")
  h3 Google Ad Campaigns
  - var path = 'js/' + view + '/lib/adwords.js'
  script(id="main" type='text/javascript' src= path)
